<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ewidencja">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/approundlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/approundlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MoveActivity"
            android:launchMode="singleTop"></activity>
        <activity android:name=".AddHours" />
        <activity
            android:name=".AddItem"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".MoveActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>